$primary: #3dc9b3;
$dark-primary: #309383;

$text-color: #8c9398;
$second-bgr: #f3f5f8;
$white: #fff;
$title-color: #353535;
$footer-color: #242830;

$more-btn : 22.666666666666664px;
$service-icon: 50px;

$space-30 : 30px;
$space-16: 16px;
$space-48: 48px;
$space-8: 8px;
$space-60: 60px;